
.navbar{
  background-color: #F5930A;
}

.sair{
  background-color: #F5930A;
 color: #000000;
 width: 40px;
 height: 35px;
}

.img-cabecalho{
  margin-left: 10px;
  height: 100%;
  width: 50px;
}

.img-login{
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
