<body>

<app-cabecalho></app-cabecalho>>



<div class="container mt-5">
  <div class="row">

    <div class="col-2">
      <h2 id="cervejas">Nossas cervejas</h2>
    </div>

  <form class="pesquisa d-flex col-6">

      <input id="barraPesquisa"
        class="form-control"
        [formControl] ="queryField"
        type="search"
        placeholder="Busque por sua cerveja favorita"
        aria-label="Search">

        <button mat-icon-button color="primary" class="pesquisar"
        (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>

  </form>


    <div class="card  card-troca col-4">
      Selecione o tipo de exibição
      <div class="d-flex">
        <button class="desativado btn-troca"
        mat-raised-button
        matTooltip="Resumido"
        ><span class="material-icons-outlined">
          view_week
          </span></button>
        <button routerLink="/listagemhorizontal" class="btn-troca"
          mat-raised-button
          matTooltip="Detalhado">
          <span class="material-icons-outlined">
          view_list
          </span></button>
      </div>
    </div>
  </div>


<div class="row">
  <div class="card  card-cerv" *ngFor="let cervs of cervejas"  >
    <img class="imgCard" src="{{ cervs.image_url }}">
    <div class="card-body">
      <h2 class="card-title">{{ cervs.name }}</h2>

      <div class="div-botao">
        <a routerLink="/detalhes"
        class="btn  btn-outline-warning btn-card">Veja mais</a>
      </div>
    </div>
  </div>
  </div>
</div>


</body>
