body{
  background-color: #191919;
}

.navbar{
  background-color: #F5930A;
  font-family: sen;
  position: fixed;
}

.imgCard{
  margin-top: 3px;
  width: 50px;
  height: 120px;
}

.container{
  margin-right: 30px;
}

.card-cerv{
  text-align: center;
  margin-top: 50px;
  background-color:#191919 ;
  border-color: #F5930A;
  width: 250px;
  height: 300px;
  color: #E4E4E4;
  margin: 50px;
  align-items: center;
}

.btn-card{
  margin-top: 10%;
  background-color:#191919 ;
  border-color: #F5930A;
  color: #F5930A;

}

.div-botao{
  text-align: center;

}

.desativado{
  opacity: 0.3;
}

.btn-troca{
  margin: auto;
  background-color:#191919 ;
  border-color: #F5930A;
  color: #F5930A;
  margin-left: 20px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}


.card-troca{
  background-color:#191919 ;
  text-align: center;
  color: #F5930A;
  font-size: 10px;
  width: 160px;
  height: 70px;
  margin-bottom: 90px;
  margin-left: 100px;
  border-color: #191919;
}

#cervejas{
  color: #F5930A;
  margin-top: 10px;
}

.navbar2{
  background-color: #191919;
}


#pesquisar{
  height: 45px;
  margin-bottom: 30px;
  margin: 0 auto;
  border-color: #F5930A;
  color: #F5930A;
  background-color: #191919;
}
#barraPesquisa{
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #191919;
  color: #F5930A;
  border-color: #F5930A;
  width: 500px;
  height: 45px;
}

#texto-switch{
font-size: small;
text-align: center;
}



