body{
  background-color: #191919;
}

.navbar{
  background-color: #F5930A;
  position: fixed;
}

.imgCard{
  margin-top: 8px;
  width: 50px;
  height: 150px;
}

.container{
  margin-left: 10%;
}


.card-cerv{
  text-align: center;
  margin-top: 30px;
  background-color:#191919 ;
  border-color: #F5930A;
  width: 250px;
  height: 350px;
  color: #E4E4E4;
  margin: 50px;
  align-items: center;
}


.btn-card{
  margin-top: 10%;
  background-color:#191919 ;
  border-color: #F5930A;
  color: #F5930A;

}

.div-botao{
  align-self: flex-end;
  text-align: center;

}


.desativado{
  opacity: 0.3;
}

.btn-troca{
  background-color:#191919 ;
  border-color: #F5930A;
  color: #F5930A;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-top: 8px;
  width: 40px;
  height: 40px;
}


.img-troca{
  width: 30px;
  margin-right: 30px;
}

.card-troca{
  background-color:#191919 ;
  color: #F5930A;
  font-size: 15px;
  width: 220px;
  height: 70px;
  margin-left: 100px;
  border-color: #191919;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



#cervejas{
  color: #F5930A;
  margin-top: 10px;
}

.navbar2{
  background-color: #191919;
}


.pesquisar{
  height: 35px;
  margin-top: 10px;
  color: #191919;
  background-color: #F5930A;
  border-left-color:#191919 ;
  border-left: 0px;
  border-right-color: #F5930A;
  border-top-color: #F5930A;
  border-bottom-color: #F5930A;
}
#barraPesquisa{
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #191919;
  color: #F5930A;
   border-radius: 3px;
  border-right-color:#191919 ;
  border-right: 0px;
  border-left-color: #F5930A;
  border-top-color: #F5930A;
  border-bottom-color: #F5930A;
  width: 400px;
  height: 35px;
}

.iconeSearch{
  height: 35px;
  margin-top: 10px;
  border-color:#F5930A ;
  color: #F5930A;
}
.invisivel{
  height: 0px;
	overflow: hidden;
	transition: height 0.8s;
}

#texto-switch{
font-size: small;
text-align: center;
}



.imagem {
  width: 60px;
  height: 150px;
}

  .innerLeft {
    display:inline-block;
    margin-right:-4px;
    vertical-align:top;
    width:80px;
    text-align:center;
    padding:5px;
  }
  .innerRight {
    margin-left: 25px;
    color: #F5930A;
    display:inline-block;
    vertical-align:top;
    width:70%;
    text-align:left;
    padding:5px;
  }
  .card-text {
    display:inline-block;
    background-color: #191919;
    color: #F5930A;
    margin-left: 10px;
  }

  .card-horizontal{
    appearance: outline;
    outline: #F5930A;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 60px;
  }
  .btn-card{
    background-color:#191919 ;
    border-color: #F5930A;
    color: #F5930A;
  }

  .div-btn{
    text-align: right;
    margin-top: 10%;
  }

  .my-snack-bar{
    background-color: #191919;
    color: #F5930A;
  }




