<body>



  <app-cabecalho></app-cabecalho>

<div class="container mt-5">
  <div class="row">

    <div class="col-2">
      <h2 id="cervejas">Nossas cervejas</h2>
    </div>

    <form class="pesquisa d-flex col-6">

      <input id="barraPesquisa"
        class="form-control me-2 mw-175px"

        type="search"
        placeholder="Busque por sua cerveja favorita"
        aria-label="Search"><span class="iconeSearch btn  btn-outline-warning material-icons">search</span>

  </form>


    <div class="card  text-center card-troca col-4">
      Selecione o tipo de exibição
      <div class="d-flex icons-juntos">
       <a  routerLink="/listagem" class="btn-troca btn btn-warning "><i class="bi bi-layout-three-columns"></i></a>

      </div>
    </div>
  </div>



<div class="card-horizontal" *ngFor="let cervs of cervejas">

  <div class="row" >
        <div class="innerLeft">
          <img class="imagem" src="{{ cervs.image_url }}">
        </div>
        <div class="innerRight">
          <div class="horizontal-card-footer">
            <h4 class="card-title">{{ cervs.name }}</h4>
            <span class="card-text">{{cervs.description}}</span>
    </div>

    <div class="row">
      <div class="div-btn">
        <a routerLink="/detalhes"
         class="btn  btn-outline-warning btn-card">Veja mais</a>
      </div>
    </div>
  </div>

  </div>



</div>



</div>

</body>
