<body>



  <app-cabecalho></app-cabecalho>

  <div class="container mt-5">
    <div class="row">

      <div class="col-2">
        <h2 id="cervejas">Nossas cervejas</h2>
      </div>

    <form class="pesquisa d-flex col-6">

        <input id="barraPesquisa"
          class="form-control"

          type="search"
          placeholder="Busque por sua cerveja favorita"
          aria-label="Search">

          <button mat-icon-button color="primary" class="pesquisar">
            <mat-icon>search</mat-icon>
          </button>

    </form>


  <div class="card  card-troca col-4">
    Selecione o tipo de exibição
    <div class="d-flex">
      <button routerLink="/listagem"
      class="btn-troca"
      mat-raised-button
      matTooltip="Resumido"
      ><span class="material-icons-outlined">
        view_week
        </span></button>
      <button class="desativado btn-troca"
        mat-raised-button
        matTooltip="Detalhado">
        <span class="material-icons-outlined">
        view_list
        </span></button>
    </div>
  </div>
</div>



<div class="card-horizontal" *ngFor="let cervs of cervejas">

  <div class="row" >
        <div class="innerLeft">
          <img class="imagem" src="{{ cervs.image_url }}">
        </div>
        <div class="innerRight">
          <div class="horizontal-card-footer">
            <h4 class="card-title">{{ cervs.name }}</h4>
            <span class="card-text">{{cervs.description}}</span>
    </div>

    <div class="row">
      <div class="div-btn">
        <a routerLink="/detalhes"
         class="btn  btn-outline-warning btn-card">Veja mais</a>
      </div>
    </div>
  </div>

  </div>



</div>



</div>

</body>
