
<nav class="navbar ">
  <div class="container-fluid">
    <div class="navbar-brand ">
      <img src="./img/vaider-amarelo.jpg" alt="" width="50" height="45" class="d-inline-block mh-100">
      May the beer be whitch you
    </div>

    <div>
      <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="50" height="45" class="d-inline-block">
      Sair
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">

    <div class="col-2">
      <h5 id="cervejas">Nossas cervejas</h5>
    </div>

    <form class=" d-flex col-6">
      <input id="barraPesquisa"
       class="form-control me-2 mw-200px"

       type="search"
       placeholder="Busque por sua cerveja favorita"
       aria-label="Search">

       <button id="pesquisar" class="btn btn-warning btn-card" type="submit">
        <i class="bi bi-search"></i>
        pesquisar</button>

      </form>

    <div class="card  text-center card-troca col-4">
      Selecione o tipo de exibição
      <div class="d-flex icons-juntos">
        <a href="#" class="btn btn-warning btn-troca"><i class="bi bi-table"></i></a>
        <a href="#" class="btn btn-warning btn-troca"><i class="bi bi-menu-button-wide"></i></a>
      </div>
    </div>
  </div>


<div class="row">
  <div class="card card-cerv" *ngFor="let cerv of cerveja"  >
    <img class="imgCard" src="{{ cerv.image_url }}">
    <div class="card-body">
      <h5 class="card-title">{{ cerv.name }}</h5>
      <p>{{ cerv.tagline }}</p>

      <a [routerLink]="['detalhes']" class="btn btn-warning btn-card">Veja mais!</a>
    </div>
  </div>
  </div>
</div>
