
.div-login{
  background-color: #191919;
  width: 370px;
  height: 420px;
  margin-left: 10px;
  margin-top: 90px;
  margin-left: 70px;
  text-align: center;
}

.img-vaider{
  width: 200px;
  height: 190px;
  margin-top: 10%;
}

.bi{
  margin-right: 8px;
}

.titulo{
  margin-top: 5%;
  color: #EEEEEE;
  opacity: 3;
  font-size: 18px;
}

.btn-google{
background-color: #E4E4E4;
opacity: 4;
color: #191919;
margin-bottom: 5px;
width: 215px;
}

.btn-face{
  background-color: #3b5998;
  color: #EEEEEE;
}

.icon-face{
  margin-right: 4px;
}

html, body{ height: 100%; margin: 0px;}

html,body{
  background-image: url("https://i.postimg.cc/pVnpqXrB/vaider-bg.jpg");

  /* Half height */
  height: 100%;
  width:100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
