<body>

<app-cabecalho></app-cabecalho>

<div class="container">


<h1>Informações extra</h1>

<div class="row" >
  <div class="innerLeft">
    <img class="imagem" src= "https://images.punkapi.com/v2/keg.png">
  </div>
  <div class="innerRight">
    <div class="horizontal-card-footer">
      <h2 class="titulo card-text">Tempereratura</h2><br>
      <h2 class="resp card-text">19.0º</h2><br>
      <h2 class="titulo card-text">Peso</h2><br>
      <h2 class="resp card-text">5.3 KG</h2><br>
      <h2 class="titulo card-text">Lúpulo</h2><br>
      <h2 class="resp card-text">17.5 g</h2>
</div>
</div>
</div>

<div class="mais_informacoes row">
  <h3>Mais sobre <i class="bi bi-chat-left-dots"></i> </h3>
  The earthy and floral aromas from the hops can
  be overpowering. Drop a little Cascade in at the end of the boil
  to lift the profile with a bit of citrus.</div>

  <div class="voltar">
    <a routerLink="/listagem"
    class=" btn btn-outline-warning" >
      <i class="bi bi-arrow-return-left"></i>
      Voltar para ver suas cervejas
    </a>
  </div>
  

</div>
</body>
